# Python environment files
.venv/
venv/
__pycache__/

# Output files from the scraper

workspace/
exports/
data/

scraped/
old/
state/

# Environment variables file
.env

# Credentials file
credentials.json
token.json

# Other project-specific files to ignore
*.pyc
*.log
error_log.txt

# OS files
.DS_Store
.ds_store
