# Python environment files
.venv/
venv/
__pycache__/

# Output files from the scraper
state/
output/
workspace/
exports/
old/

# Environment variables file
.env

# Other project-specific files to ignore
*.pyc
*.log
